
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>

@Html.ActionLink("Exportar para Excel - Despesas", "Excel2")


@Html.ActionLink("Exportar para Excel - Receitas", "Excel")