
@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Receitas</a></li>
    <li><a data-toggle="tab" href="#menu1">Despesas</a></li>
    <li><a data-toggle="tab" href="#menu2">Gráficos</a></li>
    <li><a data-toggle="tab" href="#menu3">Objetivo</a></li>
  
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        @Html.Partial("_ProjetadoR")

    </div>
    <div id="menu1" class="tab-pane fade">
        @Html.Partial("_ProjetadoD")
    </div>
    <div id="menu2" class="tab-pane fade">

        <script>

            sessionStorage.clear();
            var linha = document.getElementById('tabelaProjetado').rows;
            var dados = null;
            for (var i = 1 ; i < linha.length ; i++) {
                dados = linha[i].cells;
                for (var j = 0 ; j < dados.length ; j++) {
                    sessionStorage.setItem('categoria' + [i], dados[j + 1].innerText);
                    sessionStorage.setItem('descricao' + [i], dados[j + 2].innerText);
                    sessionStorage.setItem('data' + [i], dados[j + 3].innerText);
                    sessionStorage.setItem('valor' + [i], dados[j + 4].innerText);
                    break;
                }
            }


            var linha = document.getElementById('tabelaProjetado2').rows;
            var dados = null;
            for (var i = 1 ; i < linha.length ; i++) {
                dados = linha[i].cells;
                for (var j = 0 ; j < dados.length ; j++) {
                    sessionStorage.setItem('categoriad' + [i], dados[j + 1].innerText);
                    sessionStorage.setItem('descricaod' + [i], dados[j + 2].innerText);
                    sessionStorage.setItem('datad' + [i], dados[j + 3].innerText);
                    sessionStorage.setItem('valord' + [i], dados[j + 4].innerText);
                    break;
                }
            }



            var array = [];
            var array2 = [];
            var array3 = [];
            var array4 = [];

            var array5 = [];
            var array6 = [];
            var array7 = [];
            var array8 = [];

            for (var i = 1; i < sessionStorage.length; i++) {
                if ((sessionStorage.getItem('valor' + [i]) != null) && (sessionStorage.getItem('descricao' + [i]) != null)) {
                    array[i] = sessionStorage.getItem('valor' + [i]);
                    array2[i] = sessionStorage.getItem('descricao' + [i]);
                    array3[i] = sessionStorage.getItem('categoria' + [i]);
                    array4[i] = sessionStorage.getItem('data' + [i]);
                }
            }

            for (var i = 1; i < sessionStorage.length; i++) {
                if ((sessionStorage.getItem('valord' + [i]) != null) && (sessionStorage.getItem('descricaod' + [i]) != null)) {
                    array5[i] = sessionStorage.getItem('valord' + [i]);
                    array6[i] = sessionStorage.getItem('descricaod' + [i]);
                    array7[i] = sessionStorage.getItem('categoriad' + [i]);
                    array8[i] = sessionStorage.getItem('datad' + [i]);
                }
            }


            google.charts.setOnLoadCallback(drawChart);

            google.charts.load('43', { 'packages': ['corechart'], 'language': 'pt-br' });
            function drawChart() {

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'data');
            //    data.addColumn('string', 'Receitas');
                data.addColumn('number', 'Valor');

                var data2 = new google.visualization.DataTable();
                data2.addColumn('string', 'data');
                // data.addColumn('string', 'Receitas');
                data2.addColumn('number', 'Valor');



                for (var i = 1; i < array.length; i++) {

                    data.addRows([
                    [String(array4[i]), parseFloat(array[i])]

                    ]);
                }

                for (var i = 1; i < array5.length; i++) {

                    data2.addRows([
                    [String(array8[i]), parseFloat(array5[i])]

                    ]);
                }



                var options = {
                    title: 'Receita',
                    vAxis: { format: 'currency' },
                    hAxis: { textPosition:'none' },
                    seriesType: 'bars',
                    'width':900,
                    'height': 400,
                    colors: ['green']


                };


                var options2 = {
                    title: 'Despesa',
                    vAxis: { format: 'currency' },
                    hAxis: { textPosition: 'none' },
                    seriesType: 'bars',
                    'width': 900,
                    'height': 400,
                    colors: ['red']
                };


                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(data, options);

                var chart2 = new google.visualization.ComboChart(document.getElementById('chart_div2'));
                chart2.draw(data2, options2);



            }

        </script>


        <div class="container">


            <div class="col-md-12">
                <div id="chart_div" style="width: 100%; height:100%;">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12">
                <div id="chart_div2" style="width: 100%; height:100%;">
                </div>
            </div>

        </div>


    </div>

    <div id="menu3" class="tab-pane fade">
@Html.Partial("_Objetivo")

    </div> 
    
</div>