
@{
    ViewBag.Title = "dicas";
}

<style>
    p {
        margin: 5px;
    }
</style>






<div id="box-toggle">
    <div>
        <p> Alimentos para diabeticos</p>
        <div class="tgl" id="conteudo1" style="border-radius: 15px;">
            <h2>Diabéticos</h2>
            <p>
                Uma boa dieta para diabéticos deve conter alimentos com baixo índice glicêmico e
                fornecer nutrientes essenciais que geralmente estão faltando na maioria das dietas típicas,
                e esses alimentos para quem tem diabetes são:
            </p>
            <p>Batata Doce: possui baixo índico glicêmico, contém vitamina A e fibras solúveis;</p>
            <p>Canela: Estudos comprovam que a canela combate o diabetes, e o consumo diário de 1 colher de chá pode reduzir a taxa de glicose no sangue em até 26%;</p>
            <p>Feijão: é rico em fibras e proteínas;</p>
            <p>Frutas Cítricas (abacaxi, acerola, laranja, limão, tangerina, kiwi, lima, morango e uva são alguns exemplos): contém vitamina C e fibras; *Observação pessoas com inflamação no esôfago ou azia devem evitar esse tipo de fruta;</p>
            <p>Gorduras Saudáveis (amêndoas, amendoim, nozes, sementes de linhaça, castanhas, óleo de coco, abacate e azeite são alguns exemplos): são fontes de ômega 3; *São alimentos calóricos, porém pequenas quantidades já são suficientes para absorver os nutrientes necessários;</p>
            <p>Leite (desnatado) e laticínios sem gordura (magros):  são fonte de cálcio e vitamina D; *O queijo quanto mais branco menos gordura tem, já o queijo amarelado, como por exemplo o queijo cheddar, quanto mais amarelo mais gordura ele possui;</p>
            <p>Peixes (tilápia, atum, salmão são algumas opções): são fontes de ômega 3 e ácidos graxos; *Evite consumir frito ou empanado, dê preferência para o grelhado;</p>
            <p>Tomate: é rico em vitamina C e E, licopeno, ferro e ainda é um forte antioxidante;</p>
            <p>Grãos Integrais (aveia): são ricos em potássio e fibras;</p>
            <p>Vegetais de folha Verde Escura (rúcula, espinafre, couve): são fontes de vitamina A;</p>
        </div>
    </div>
    <div>
        <p>Alimentos para Hipertensos</p>
        <div class="tgl" style="border-radius: 15px;">
            <h2>Hipertensos</h2>
            <p> <p>
                Uma dieta rica em potássio e fibra produz uma redução moderada da tensão arterial.
                O potássio provoca um aumento da eliminação de água que provoca um relaxamento dos vasos sanguíneos e reduz a tensão arterial.
            </p>
            <p>Alimentos ricos em potássio: </p>
            <p>
                Produtos integrais
            </p>
            <p>
                Batatas
            </p>
            <p>
                Legumes tais como espinafres, brócolos, alface-de-cordeiro e cogumelos
            </p>
            <p>
                Nozes, frutos secos, banana
            </p>
            <p>   Peixe</p>

            <p>
                Ao lavar os legumes ou ao cozinhá-los durante longos períodos de tempo, o potássio difunde-se na água. Se não se reutilizar o potássio perde-se.
            </p>
            <p>
                A fibra dietética faz essencialmente com que o alimento seja mastigado por mais tempo e mais exaustivamente. Tem o efeito, de satisfazer o estômago, de o açúcar no sangue subir lentamente e de regular a digestão. Uma dieta rica em fibras pode ajudar a prevenir transtornos gastrointestinais (tais como prisão de ventre, cancro do cólon, hemorroidas, etc…) transtornos metabólicos (tais como obesidade, diabetes) e doenças cardiovasculares (como a hipertensão e a arteriosclerose).
            </p>
            <p>   Os alimentos ricos em fibra são:</p>

            <p> Cereais (trigo espelta, aveia, trigo)</p>
            <p> Legumes (couve de Bruxelas, cenouras, funcho, couve-flor, etc.)</p>
            <p> Leguminosas (lentilhas, ervilhas, feijões)</p>
            <p> Frutas (maçãs, laranjas, bananas, kiwis, etc.)</p>
            <p> Frutos secos (avelãs , amendoins, pistácios, etc.) </p></p>
        </div>
    </div>

    <div>
        <p>Alimentos para Intolerantes a Lactose</p>
        <div class="tgl" style="background:lightgreen; border-radius: 15px;">
            <h2>Intolerância a Lactose</h2>
            <p>
            <p>
                Não é só o café com leite ou o achocolatado que fica de fora da mesa de quem sofre de intolerância à lactose, açúcar naturalmente presente no leite de vaca. Bolos, sobremesas e outras receitas que usam a bebida como ingrediente também acabam cortados da dieta - a medida evita os sintomas mais comuns do problema: diarreia, distensão abdominal, gases e má digestão.
            </p>
            <p>
                Após o diagnóstico, feito a partir de um teste de tolerância, o especialista elabora uma dieta de acordo com a sua necessidade - um gastroenterologista ou uma nutricionista são os profissionais recomendados para acompanhar o problema. "Alguns pacientes são intolerantes ao leite, mas conseguem ingerir alimentos preparados com pequenas quantidades dele", afirma a nutricionista Camila Freitas, da consultoria Vittali. Nos dois casos, no entanto, é preciso ficar atento às necessidades diárias de cálcio e de outros nutrientes, encontrados principalmente no leite.
            </p>
            <p>O maior desafio para quem é intolerante à lactose é conseguir encontrar outras fontes de cálcio, mineral que fortalece os ossos, prevenindo doenças como a osteoporose. "Sementes de gergelim e as oleaginosas, como avelãs, castanha-do-pará, amêndoas e nozes são alternativas", afirma a nutricionista do Emagrecento Vivian Goldberger.</p>
            <p>
                Também podemos encontrar cálcio em vegetais verde-escuros, sardinha, soja e derivados, flocos de aveia integral e algas marinhas. Algumas marcas ainda oferecem leite sem lactose, mas com as doses de cálcio preservadas. "O ideal é ingerir de duas a três porções diárias desses alimentos", afirma a nutricionista Amanda Epifânio, do CITEN.
            </p>

        </div>
    </div>

    <div>
        <p>Alimentos para quem tem cirrose</p>
        <div class="tgl" style="background:pink; border-radius: 15px;">
            <h2>Cirrose</h2>
            <p>Pacientes que apresentam doenças como hepatite e cirrose precisam alterar uma série de hábitos de vida. Repouso e prática de exercícios regulares são algumas das recomendações, geralmente, prescritas pelo médico. Além disso, é preciso ter um cuidado especial com a dieta. Cortar o álcool é um dos primeiros passos, mas não é só isso. É preciso que o nutricionista prepare um cardápio especial, que ajude na recuperação das células do fígado e na desintoxicação do organismo. De modo geral, o paciente deve excluir comidas fritas e gordurosas, alimentos enlatados, café, refrigerante e condimentos da dieta.</p>

            <p> Entre os alimentos que o nutricionista pode incluir na dieta do paciente, estão legumes, peixe grelhado, frango cozido, gelatina e frutas cozidas sem a casca. Estes são exemplos de alimentos de fácil digestão, essenciais para a recuperação do fígado.</p>
        </div>
    </div>

    <div>
        <p>Alimentos para Intolerantes a Glúten</p>

        <div class="tgl" style="background:orange; border-radius: 15px;">
            <h2>Intolerância a Gluten</h2>
            <p>Celíacas são pessoas que apresentam intolerância ao glúten, portanto, precisam cortar esta proteína do cardápio. Caso contrário, podem apresentar sintomas como diarreia, perda de peso, desnutrição, diminuição de fertilidade, anemia por deficiência de ferro e alterações hepáticas. Para tratar a doença, o paciente deve eliminar alimentos que contenham glúten da dieta: massas, pães, bolos, biscoitos e cerveja são exemplos de alimentos que podem conter a proteína.</p>

            <p> Além disso, é importante incluir no cardápio alimentos que corrijam as deficiências de vitaminas. Para isso, o nutricionista deve recomendar alimentos que sejam ricos em nutrientes que costumam faltar no organismo de quem apresenta a doença. Folhas escuras, carne vermelha, peixes e frutas ricas em vitaminas B13, D e K, são alguns exemplos de alimentos que devem constar na dieta de pessoas celíacas.</p>
        </div>
    </div>

    <div>
        <p>Alimentos para Hipotireoidismo</p>
        <div class="tgl" style="background:purple; border-radius: 15px;">
            <h2>Hipotireoidismo</h2>
            <p>
                Pacientes diagnosticados com hipotireoidismo também devem ter atenção especial aos alimentos consumidos diariamente. É importante que o cardápio montado para este paciente seja rico em alimentos que proporcionem bastante energia. De modo geral, os alimentos do bem são: salmão, alho e cebola – porque são ricos em selênio, substância que ajuda a melhorar o desenvolvimento hormonal – mariscos e algas – porque são ricos em iodo, substância que ajuda a regular a tiroxina, hormônio produzido pela tireoide – e frutas, como a tangerina, o abacaxi e a maçã.
            </p>
            <p>  Entre os alimentos que devem ser eliminados da dieta, estão os processados (porque costumam ser ricos em sódio), as comidas gordurosas (podem prejudicar a produção de hormônios pela tireoide) e os alimentos que apresentam glúten (proteína que pode irritar o organismo e atrapalhar a absorção dos medicamentos receitados para controlar a doença).  </p>

        </div>
    </div>
</div>


<script type="text/javascript">

    jQuery.fn.toggleText = function (a, b) {
        return this.html(this.html().replace(new RegExp("(" + a + "|" + b + ")"), function (x) { return (x == a) ? b : a; }));
    }

    $(document).ready(function () {

        $('.tgl').before('<span class="btn btn-success">Revelar conteúdo</span>');
        $('.tgl').css('display', 'none')


        $('span', '#box-toggle').click(function () {
            $(this).next().slideToggle('slow')
            .siblings('.tgl:visible').slideToggle('fast');
            // aqui começa o funcionamento do plugin
            $(this).toggleText('Revelar', 'Esconder')
            .siblings('span').next('.tgl:visible').prev()
            .toggleText('Revelar', 'Esconder')
        });
    })
</script>

<!--


<div class="container" style="padding-top:5px;margin:0px;">
    <div class="col-md-4" style="background:lightpink; border-radius: 15px;margin:5px;">
        <p>Pacientes que apresentam doenças como hepatite e cirrose precisam alterar uma série de hábitos de vida. Repouso e prática de exercícios regulares são algumas das recomendações, geralmente, prescritas pelo médico. Além disso, é preciso ter um cuidado especial com a dieta. Cortar o álcool é um dos primeiros passos, mas não é só isso. É preciso que o nutricionista prepare um cardápio especial, que ajude na recuperação das células do fígado e na desintoxicação do organismo. De modo geral, o paciente deve excluir comidas fritas e gordurosas, alimentos enlatados, café, refrigerante e condimentos da dieta.</p>

        <p> Entre os alimentos que o nutricionista pode incluir na dieta do paciente, estão legumes, peixe grelhado, frango cozido, gelatina e frutas cozidas sem a casca. Estes são exemplos de alimentos de fácil digestão, essenciais para a recuperação do fígado.</p>
    </div>

    <div class="col-md-4" style="background:orange; border-radius: 15px;margin:5px;">
        <p>Celíacas são pessoas que apresentam intolerância ao glúten, portanto, precisam cortar esta proteína do cardápio. Caso contrário, podem apresentar sintomas como diarreia, perda de peso, desnutrição, diminuição de fertilidade, anemia por deficiência de ferro e alterações hepáticas. Para tratar a doença, o paciente deve eliminar alimentos que contenham glúten da dieta: massas, pães, bolos, biscoitos e cerveja são exemplos de alimentos que podem conter a proteína.</p>

        <p> Além disso, é importante incluir no cardápio alimentos que corrijam as deficiências de vitaminas. Para isso, o nutricionista deve recomendar alimentos que sejam ricos em nutrientes que costumam faltar no organismo de quem apresenta a doença. Folhas escuras, carne vermelha, peixes e frutas ricas em vitaminas B13, D e K, são alguns exemplos de alimentos que devem constar na dieta de pessoas celíacas.</p>
    </div>

    <div class="col-md-4" style="background:purple; border-radius: 15px;margin:5px;">
        <p>
            Pacientes diagnosticados com hipotireoidismo também devem ter atenção especial aos alimentos consumidos diariamente. É importante que o cardápio montado para este paciente seja rico em alimentos que proporcionem bastante energia. De modo geral, os alimentos do bem são: salmão, alho e cebola – porque são ricos em selênio, substância que ajuda a melhorar o desenvolvimento hormonal – mariscos e algas – porque são ricos em iodo, substância que ajuda a regular a tiroxina, hormônio produzido pela tireoide – e frutas, como a tangerina, o abacaxi e a maçã.
        </p>
        <p>  Entre os alimentos que devem ser eliminados da dieta, estão os processados (porque costumam ser ricos em sódio), as comidas gordurosas (podem prejudicar a produção de hormônios pela tireoide) e os alimentos que apresentam glúten (proteína que pode irritar o organismo e atrapalhar a absorção dos medicamentos receitados para controlar a doença).  </p>
    </div>

</div>-->
