
@{
    ViewBag.Title = "Dicas";
}

<style>
    p {
        margin: 5px;

    }

    .pull-left{
        width:100%;
    }
</style>
<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>

<div id="cabeçalho" class="cab" style="color:#337ab7;">
    <h2>Dicas Alimentares</h2>
    <p style="background:#e8e8e8; padding: 10px;">Dicas de alimentação adequada</p>
</div>
<div id="box-toggle">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Diabéticos</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">
                        <h2>Diabéticos</h2>
                        <p align="justify">
                            Uma boa dieta para diabéticos deve conter alimentos com baixo índice glicêmico e
                            fornecer nutrientes essenciais que geralmente estão faltando na maioria das dietas típicas,
                            e esses alimentos para quem tem diabetes são:
                        </p>
                        <p align="justify">Batata Doce: possui baixo índico glicêmico, contém vitamina A e fibras solúveis;</p>
                        <p align="justify">Canela: Estudos comprovam que a canela combate o diabetes, e o consumo diário de 1 colher de chá pode reduzir a taxa de glicose no sangue em até 26%;</p>
                        <p align="justify">Feijão: é rico em fibras e proteínas;</p>
                        <p align="justify">Frutas Cítricas (abacaxi, acerola, laranja, limão, tangerina, kiwi, lima, morango e uva são alguns exemplos): contém vitamina C e fibras; *Observação pessoas com inflamação no esôfago ou azia devem evitar esse tipo de fruta;</p>
                        <p align="justify">Gorduras Saudáveis (amêndoas, amendoim, nozes, sementes de linhaça, castanhas, óleo de coco, abacate e azeite são alguns exemplos): são fontes de ômega 3; *São alimentos calóricos, porém pequenas quantidades já são suficientes para absorver os nutrientes necessários;</p>
                        <p align="justify">Leite (desnatado) e laticínios sem gordura (magros):  são fonte de cálcio e vitamina D; *O queijo quanto mais branco menos gordura tem, já o queijo amarelado, como por exemplo o queijo cheddar, quanto mais amarelo mais gordura ele possui;</p>
                        <p align="justify">Peixes (tilápia, atum, salmão são algumas opções): são fontes de ômega 3 e ácidos graxos; *Evite consumir frito ou empanado, dê preferência para o grelhado;</p>
                        <p align="justify">Tomate: é rico em vitamina C e E, licopeno, ferro e ainda é um forte antioxidante;</p>
                        <p align="justify">Grãos Integrais (aveia): são ricos em potássio e fibras;</p>
                        <p align="justify">Vegetais de folha Verde Escura (rúcula, espinafre, couve): são fontes de vitamina A;</p>

                        <p align="justify">Fonte:</p>
                        <p align="justify"> http://fatordiabetes.com/dieta-para-diabeticos/alimentos/ </p>
                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>






    <div class="col-lg-4 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Hipertensos</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">
                        <h2>Hipertensos</h2>
                        <p align="justify">
                            Uma dieta rica em potássio e fibra produz uma redução moderada da tensão arterial.
                            O potássio provoca um aumento da eliminação de água que provoca um relaxamento dos vasos sanguíneos e reduz a tensão arterial.
                        </p>
                        <p align="justify">Alimentos ricos em potássio: </p>
                        <p align="justify">
                            Produtos integrais
                        </p>
                        <p align="justify">
                            Batatas
                        </p>
                        <p align="justify">
                            Legumes tais como espinafres, brócolos, alface-de-cordeiro e cogumelos
                        </p>
                        <p align="justify">
                            Nozes, frutos secos, banana
                        </p>
                        <p align="justify">   Peixe</p>

                        <p align="justify">
                            Ao lavar os legumes ou ao cozinhá-los durante longos períodos de tempo, o potássio difunde-se na água. Se não se reutilizar o potássio perde-se.
                        </p>
                        <p align="justify">
                            A fibra dietética faz essencialmente com que o alimento seja mastigado por mais tempo e mais exaustivamente. Tem o efeito, de satisfazer o estômago, de o açúcar no sangue subir lentamente e de regular a digestão. Uma dieta rica em fibras pode ajudar a prevenir transtornos gastrointestinais (tais como prisão de ventre, cancro do cólon, hemorroidas, etc…) transtornos metabólicos (tais como obesidade, diabetes) e doenças cardiovasculares (como a hipertensão e a arteriosclerose).
                        </p>
                        <p align="justify">   Os alimentos ricos em fibra são:</p>

                        <p align="justify"> Cereais (trigo espelta, aveia, trigo)</p>
                        <p align="justify"> Legumes (couve de Bruxelas, cenouras, funcho, couve-flor, etc.)</p>
                        <p align="justify"> Leguminosas (lentilhas, ervilhas, feijões)</p>
                        <p align="justify"> Frutas (maçãs, laranjas, bananas, kiwis, etc.)</p>
                        <p align="justify"> Frutos secos (avelãs , amendoins, pistácios, etc.) </p>
                        <p align="justify">Fonte:</p>
<p align="justify"> http://tensoval.pt/alimentacao_saudavel.php </p>
                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>


    <div class="col-lg-4 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Intolerância a Lactose</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">
                        <h2>Intolerância a Lactose</h2>
                      
                        <p align="justify">
                            Não é só o café com leite ou o achocolatado que fica de fora da mesa de quem sofre de intolerância à lactose, açúcar naturalmente presente no leite de vaca. Bolos, sobremesas e outras receitas que usam a bebida como ingrediente também acabam cortados da dieta - a medida evita os sintomas mais comuns do problema: diarreia, distensão abdominal, gases e má digestão.
                        </p>
                        <p align="justify">
                            Após o diagnóstico, feito a partir de um teste de tolerância, o especialista elabora uma dieta de acordo com a sua necessidade - um gastroenterologista ou uma nutricionista são os profissionais recomendados para acompanhar o problema. "Alguns pacientes são intolerantes ao leite, mas conseguem ingerir alimentos preparados com pequenas quantidades dele", afirma a nutricionista Camila Freitas, da consultoria Vittali. Nos dois casos, no entanto, é preciso ficar atento às necessidades diárias de cálcio e de outros nutrientes, encontrados principalmente no leite.
                        </p>
                        <p align="justify">O maior desafio para quem é intolerante à lactose é conseguir encontrar outras fontes de cálcio, mineral que fortalece os ossos, prevenindo doenças como a osteoporose. "Sementes de gergelim e as oleaginosas, como avelãs, castanha-do-pará, amêndoas e nozes são alternativas", afirma a nutricionista do Emagrecento Vivian Goldberger.</p>
                        <p align="justify">
                            Também podemos encontrar cálcio em vegetais verde-escuros, sardinha, soja e derivados, flocos de aveia integral e algas marinhas. Algumas marcas ainda oferecem leite sem lactose, mas com as doses de cálcio preservadas. "O ideal é ingerir de duas a três porções diárias desses alimentos", afirma a nutricionista Amanda Epifânio, do CITEN.
                        </p>
                        <p align="justify">Fonte:</p>
                        <p align="justify"> http://www.minhavida.com.br/alimentacao/galerias/13922-monte-o-cardapio-ideal-contra-intolerancia-a-lactose </p>
                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Doenças do Fígado</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">

                        <h2>Doenças do fígado</h2>
                        <p align="justify">Pacientes que apresentam doenças como hepatite e cirrose precisam alterar uma série de hábitos de vida. Repouso e prática de exercícios regulares são algumas das recomendações, geralmente, prescritas pelo médico. Além disso, é preciso ter um cuidado especial com a dieta. Cortar o álcool é um dos primeiros passos, mas não é só isso. É preciso que o nutricionista prepare um cardápio especial, que ajude na recuperação das células do fígado e na desintoxicação do organismo. De modo geral, o paciente deve excluir comidas fritas e gordurosas, alimentos enlatados, café, refrigerante e condimentos da dieta.</p>

                        <p align="justify"> Entre os alimentos que o nutricionista pode incluir na dieta do paciente, estão legumes, peixe grelhado, frango cozido, gelatina e frutas cozidas sem a casca. Estes são exemplos de alimentos de fácil digestão, essenciais para a recuperação do fígado.</p>
                        <p align="justify">Fonte:</p>
                        <p align="justify"> https://blog.dietbox.me/2015/10/22/as-principais-dietas-como-tratamentos-de-doencas/ </p>
                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Doença Celíaca</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">


                        <h2>Doença Celíaca</h2>
                        <p align="justify">Celíacas são pessoas que apresentam intolerância ao glúten, portanto, precisam cortar esta proteína do cardápio. Caso contrário, podem apresentar sintomas como diarreia, perda de peso, desnutrição, diminuição de fertilidade, anemia por deficiência de ferro e alterações hepáticas. Para tratar a doença, o paciente deve eliminar alimentos que contenham glúten da dieta: massas, pães, bolos, biscoitos e cerveja são exemplos de alimentos que podem conter a proteína.</p>

                        <p align="justify"> Além disso, é importante incluir no cardápio alimentos que corrijam as deficiências de vitaminas. Para isso, o nutricionista deve recomendar alimentos que sejam ricos em nutrientes que costumam faltar no organismo de quem apresenta a doença. Folhas escuras, carne vermelha, peixes e frutas ricas em vitaminas B13, D e K, são alguns exemplos de alimentos que devem constar na dieta de pessoas celíacas.</p>
                        <p align="justify">Fonte:</p>
                        <p align="justify"> https://blog.dietbox.me/2015/10/22/as-principais-dietas-como-tratamentos-de-doencas/ </p>


                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Hipotireoidismo</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">



                        <h2>Hipotireoidismo</h2>
                        <p align="justify">
                            Pacientes diagnosticados com hipotireoidismo também devem ter atenção especial aos alimentos consumidos diariamente. É importante que o cardápio montado para este paciente seja rico em alimentos que proporcionem bastante energia. De modo geral, os alimentos do bem são: salmão, alho e cebola – porque são ricos em selênio, substância que ajuda a melhorar o desenvolvimento hormonal – mariscos e algas – porque são ricos em iodo, substância que ajuda a regular a tiroxina, hormônio produzido pela tireoide – e frutas, como a tangerina, o abacaxi e a maçã.
                        </p>
                        <p align="justify">  Entre os alimentos que devem ser eliminados da dieta, estão os processados (porque costumam ser ricos em sódio), as comidas gordurosas (podem prejudicar a produção de hormônios pela tireoide) e os alimentos que apresentam glúten (proteína que pode irritar o organismo e atrapalhar a absorção dos medicamentos receitados para controlar a doença).  </p>

                        <p align="justify">Fonte:</p>
                        <p align="justify"> https://blog.dietbox.me/2015/10/22/as-principais-dietas-como-tratamentos-de-doencas/ </p>

                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>


    <div class="col-lg-4 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Osteoporose</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">



                        <h2>Osteoporose</h2>
                        <p align="justify"> Alimentação para osteoporose tem que ser rica em alimentos com cálcio e vitamina D porque estes nutrientes são importantes para a saúde dos ossos e uma vez que o cálcio não é absorvido sem a presença da vitamina D.</p>

                     <p align="justify">   Assim, garantir a ingestão adequada de cálcio e vitamina D durante a infância ajuda a prevenir a osteoporose na vida adulta. Já na presença da osteoporose, os suplementos de cálcio e vitamina D são importantes para evitar que a doença evolua.</p>
                        <p align="justify">Fonte:</p>

                        <p align="justify">  https://www.tuasaude.com/alimentacao-para-osteoporose/ </p>
                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>


    <div class="col-lg-4 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        
                        <div>Câncer</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">



                        <h2>Câncer</h2>
                        <p  align="justify">
                        Os alimentos que combatem o câncer são, principalmente, Vegetais, Frutas e cereais integrais, devido a certas substâncias específicas, como os antioxidantes que protegem as células do organismo ajudando a combater e a evitar o aparecimento de câncer. Além disso, O câncer é uma doença que se caracteriza pelo crescimento desordenado das células, que se dividem muito rapidamente, invadindo tecidos e órgãos e formando tumores que podem se espalhar para outras regiões do corpo.
                        </p>
                        <p  align="justify"> 
                        Praticamente todos os alimentos frescos e não industrializados trazem benefícios à nossa saúde, quando consumidos na quantidade correta. Alguns deste alimentos têm como benefício o combate ao câncer. Uma dieta anti-câncer é uma estratégia importante que você pode usar para reduzir o risco de câncer. A American Cancer Society recomenda, por exemplo, que você tem que comer pelo menos cinco porções de frutas e verduras diariamente e comer a quantidade certa de alimentos para manter um peso saudável.</p>

                        <p align="justify">Fonte:</p>

                        <p align="justify"> http://www.oncoguia.org.br/conteudo/os-10-alimentos-que-combatem-o-cancer/8392/7/ </p>
                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comment-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div>Memória</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <div class="pull-left tgl">


                        <h2>Memória</h2>
                        <p align="justify"> Os alimentos para melhorar a memória são peixe, frutas secas e sementes porque têm omega 3, que é o principal componente das células do cérebro facilitando a comunicação entre as células e melhorando a memória assim como frutas, especialmente as frutas cítricas, e legumes ricos em antioxidantes, que protegem as células evitando o esquecimento e facilitando a memorização.</p> 
                        <p align="justify">Além disso, estar atento no momento da memorização também é essencial e os alimentos estimulantes que aumentem a concentração, como café ou chocolate meio amargo, podem ser úteis para facilitar a memorização. Uma xícara de café pela manhã e um quadradinho de chocolate meio amargo após e o almoço e jantar são suficientes. </p>

<p align="justify">Fonte:</p>
                        <p align="justify"> https://www.tuasaude.com/alimentos-para-melhorar-a-memoria/ </p>


                    </div>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>

                </div>
            </a>
        </div>
    </div>


</div>

<script type="text/javascript">

    jQuery.fn.toggleText = function (a, b) {
        return this.html(this.html().replace(new RegExp("(" + a + "|" + b + ")"), function (x) { return (x == a) ? b : a; }));
    }

    $(document).ready(function () {

        $('.tgl').before('<span class="btn btn-success">Revelar conteúdo</span>');
        $('.tgl').css('display', 'none')


        $('span', '#box-toggle').click(function () {
            $(this).next().slideToggle('slow')
            .siblings('.tgl:visible').slideToggle('fast');
            // aqui começa o funcionamento do plugin
            $(this).toggleText('Revelar', 'Esconder')
            .siblings('span').next('.tgl:visible').prev()
            .toggleText('Revelar', 'Esconder')
        });
    })
</script>
