@model  APP_Life.Models.usuario




<form id="myForm">
    <div id="AddUserForm">
        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "form-control input-md" } })


    </div>
</form>
<script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
</script>