
@{
    ViewBag.Title = "Geral";
}

<h2>Geral</h2>


<!--
ter saldo de receita e despesa e projeções
    
    comparativo em grafico do decorrer do mes da situacao atual com a projeção    

    situação fisica do usuario como quantas calorias ja ingeriu
    e refeição do dia para comer


-->
