
@model IEnumerable<APP_Life.Models.receita>

@{
    ViewBag.Title = "Receitas";
}

<h2>Receitas</h2>
<style>

    .container{
        padding-top:3%;
    }
</style>


<table id="tb" class="table table-striped" cellspacing="0" style="width: 100%;">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Data</th>
            <th>Valor</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categoria.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                  @Html.DisplayFor(modelItem => item.Valor)
                </td>
               
               
                
            </tr>
        }
    </tbody>
</table>

<script>



    sessionStorage.clear();
    var linha = document.getElementById('tb').rows;
    var dados = null;
    for (var i = 1 ; i < linha.length ; i++) {
        dados = linha[i].cells;
        for (var j = 0 ; j < dados.length ; j++) {
            sessionStorage.setItem('categoria' + [i], dados[j  ].innerText);
			 sessionStorage.setItem('descricao' + [i], dados[j + 1].innerText);
			 sessionStorage.setItem('data' + [i], dados[j + 2].innerText);
			 sessionStorage.setItem('valor' + [i], dados[j + 3].innerText);
           break;
        }
    }


    var array = [];
    var array2 = [];
	var array3 =[];
	var array4 = [];

    for (var i = 1; i < sessionStorage.length; i++) {
        if ((sessionStorage.getItem('valor' + [i]) != null) && (sessionStorage.getItem('descricao' + [i]) != null)) {
            array[i] = sessionStorage.getItem('valor' + [i]);
            array2[i] = sessionStorage.getItem('descricao' + [i]);
            array3[i] = sessionStorage.getItem('categoria' + [i]);
            array4[i] = sessionStorage.getItem('data' + [i]);
           }
    }


    google.charts.setOnLoadCallback(drawChart);

    google.charts.load('43', { 'packages': ['corechart'], 'language': 'pt-br' });
     function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'data');
       // data.addColumn('string', 'Receitas');
        data.addColumn('string', 'Valor');
        

        for (var i = 1; i < array.length; i++) {

            data.addRows([
            [String(array4[i]),String(array[i])]

            ]);
        }



        var options = {
            title: 'Receitas',
            vAxis: { title: 'Valor', format: 'currency' },
			hAxis: { title: 'Data' },
            seriesType: 'bars',
            legend: { position: 'bottom' }

        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);




    }

</script>

<div class="container">


    <div class="col-md-12">
        <div id="chart_div" style="width: 100%; height:450px;">
        </div>
    </div>

</div>



<div class="form-actions text-right pal">
    <button type="submit" class="btn btn-primary" name="Salvar" value="Salvar">
        Salvar Alterações
    </button>
</div>
