<div class="col-sm-pull-3">
    <div class="well">
        <ul class="nav nav-list">
            <li class="navbar-header">Usuario</li>
            <li class="active"><a href="#">Listar</a></li>
            <li class="active"><a href="#">Listar</a></li>
            <li class="active"><a href="#">Listar</a></li>
            <li class="active"><a href="#">Listar</a></li>
            <li class="active"><a href="#">Listar</a></li>
        </ul>
    </div>
</div>

@Html.Partial("_MenuLateral") <!--partialhtml funciona da mesma forma q renderpage-->
